* {
  padding: 0;
  margin: 0;
}

body {
  margin:auto;
}

.wrapper {
  margin: auto;
  width: 640px;
}

.canvasholder {
  margin: auto;
  display: inline-block;
  line-height: 0;
  font-size: 0;
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
  body {
    margin: 0 auto;
    padding: 0;
    background: #000;
  }
  .canvasHolder {
    box-shadow: none;
    width: auto;
    height: auto;
  }

  #myCanvas {
    width: 100%;
  }
}
